@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: transparent;
}
.alert-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }